**/build
**/log
**/install

.vscode

# Ignore all files in src except for ur3e_controller
/src/*
!/src/ur3e_controller

**/__pycache__

datasets/

*.pt

tests/

cuda-repo-ubuntu2204-12-8-local_12.8.0-570.86.10-1_amd64.deb
ZED_SDK_Ubuntu22_cuda12.8_tensorrt10.9_v5.0.0.zstd.run